html
    head
        title!= title
        link(rel='stylesheet', href='http://dsg1.crc.nd.edu/cse30246/godcountrydatabases/DiningBase/semantic/dist/semantic.min.css')
        link(rel='stylesheet', href='http://dsg1.crc.nd.edu/cse30246/godcountrydatabases/DiningBase/main.css')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://dsg1.crc.nd.edu/cse30246/godcountrydatabases/DiningBase/semantic/dist/semantic.min.js')
    body
        div.ui.fixed.inverted.menu
            div.ui.container
                a.item(href='/today')| Today
                a.item(href='/reviews')| Reviews
                a.item(href='/user')= user
        block content